.divider { background-color: #555; }
.outline { background-color: #999; }
.body, .whitebg { background-color: #fff; }
.menubg, .verybrightbg { background-color: #f1f1f1; }
.reallybrightbg { background-color: #fafafa; }
.brightbg { background-color: #e5e5e5; }
.brownbg { background-color: #e1d8d1; }
.blackbg { background-color: #000; }
