.registerinput, .logininput, .loginsubmit { width: 100%; font-size: 10px; }
.registersubmit { font-size: 10px; }

.input {
	font-size: 11px;
	background-color: #ffecd3;
	height: 17px;
	border: 1px solid #c85424;
}

textarea {
	font-size: 12px;
	background-color: #ffecd3;
	border: 1px solid #c85424;
}

select {
	font-size: 11px;
	background-color: #dbebef;
}
