p.listcaption 		{ border: 1px solid #a2a09f; font-weight: bold; padding: 1px; padding-left: 5px; background-image: url(i/button_bg.jpg); }
p.listsubcaption 	{ border-bottom: 1px solid #d6cbc2; }
p.listrow 		{ padding: 2px; padding-left: 5px; background-color: #ece9e6; border: 1px solid #d6cbc2; border-top: 0px; }
p.listitemrow 		{ padding: 2px; padding-left: 5px; background-color: #ece9e6; border: 1px solid #d6cbc2; border-top: 0px; border-top: 1px solid #d6cbc2; margin-bottom: 3px; }
p.listplaceitemsrow 	{ padding: 2px; padding-left: 5px; background-color: #ece9e6; border: 1px solid #d6cbc2; border-top: 0px; }
.valueincreased 	{ font-weight: bold; color: #ff0000; }
.itemamount 		{ font-weight: bold; color: #751700; }
.itemequipped 		{ font-weight: bold; color: #ff0000; }
.itemmagic 		{ font-weight: bold; color: #008800; }
.iteminventorypics 	{ visibility: visible; }
