p.positiontext {
	background-color: #bbb;
	border: 1px solid #555;
	color: #000;
	font-size: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.framemapbg td { position: relative; }
.framemapbg a { z-index: 2; position: absolute; display: block; width: 50px; height: 50px; left: 0; top: 0; }
