/**
	My Copy-Paste-Fu is strong in this one. (@FWTools, @Alex, @Baum, @Mordino, @Teepflanze)
    v1.0
**/

@import url("../cmp/status.css");
@import url("../cmp/ans.css");
@import url("../cmp/cnr.css");
@import url("../cmp/smn.css");
@import url("../cmp/cid.css");
@import url("../cmp/save.css");
@import url("../cmp/general_dark.css");

/* Shopgrafik */
.framebannerbg:before {
    top : 0px;
    float:right;
    content : url("https://freewar.zocker.eu/grafik.php") url("https://freewar.zocker.eu/xp.php?w=1&s=4&limit=3") url("https://freewar.zocker.eu/vvvg.php");
    opacity : 1;
    position: absolute;
}
