/* feldpositionen im blauen indikator */
	.frameitembg a[title="Konlir - Die immergrünen Wiesen"]:after,
	.frameitembg a[title="Anatubien - Der Wald der Akademie"]:after,
	.frameitembg a[title="Bank aller Wesen"]:after,
	.frameitembg a[title="Reikan - Die Trockenebene"]:after,
	.frameitembg a[title="Das Tal der Ruinen"]:after,
	.frameitembg a[title="Das vergessene Tal"]:after,
	.frameitembg a[title="Mentoran - Die Oase"]:after,
	.frameitembg a[title="Narubia - Die Nebelbank"]:after,
	.frameitembg a[title="Nawor - Die Kakteenebene"]:after,
	.frameitembg a[title="Buran - Der Westbereich"]:after,
	.frameitembg a[title="Sutranien - Die kühle Ebene"]:after,
	.frameitembg a[title="Hewien - Kantige Felsen"]:after,
	.frameitembg a[title="Orewu - Der Salzsee"]:after,
	.frameitembg a[title="Das Casino von Ferdolien"]:after,
	.frameitembg a[title="Kanobien - Der Wasserfall"]:after,
	.frameitembg a[title="Terasi - Der Fluss"]:after,
	.frameitembg a[title="Lodradon - Der organische Turm"]:after,
	.frameitembg a[title="Terasi - Der rauschende Fluss"]:after { display: inline-block; background: #000000; color: var(--blauer_indicator); opacity: 0.85; width: 40px; margin-right: -40px; position: relative; left: -47px; top: -9px; font-size: 10px; text-align: center; white-space: pre }
	.frameitembg a[title="Konlir - Die immergrünen Wiesen"]:after { content: "Konlir \A 101 100";  }
	.frameitembg a[title="Anatubien - Der Wald der Akademie"]:after { content: "Ana \A 85 102"; }
	.frameitembg a[title="Bank aller Wesen"]:after { content: "Baw \A 92 105"; color: lime}
	.frameitembg a[title="Reikan - Die Trockenebene"]:after { content: "Reikan \A 97 108"; }
	.frameitembg a[title="Das Tal der Ruinen"]:after { content: "TdR \A 93 96"; color: #4effff}
	.frameitembg a[title="Das vergessene Tal"]:after { content: "Tal \A 81 94"; }
	.frameitembg a[title="Mentoran - Die Oase"]:after { content: "Mento \A 99 115"; color: #4effff }
	.frameitembg a[title="Narubia - Die Nebelbank"]:after { content: "Narubia \A 501 51"; }
	.frameitembg a[title="Nawor - Die Kakteenebene"]:after { content: "Nawor \A 103 110"; }
	.frameitembg a[title="Buran - Der Westbereich"]:after { content: "Buran \A 80 87"; }
	.frameitembg a[title="Sutranien - Die kühle Ebene"]:after { content: "Sutra \A 71 92"; }
	.frameitembg a[title="Hewien - Kantige Felsen"]:after { content: "Hewien \A 92 90"; }
	.frameitembg a[title="Orewu - Der Salzsee"]:after { content: "Orewu \A 108 114"; }
	.frameitembg a[title="Das Casino von Ferdolien"]:after { content: "Casino \A 100 94"; color: lime }
	.frameitembg a[title="Kanobien - Der Wasserfall"]:after { content: "Kano \A 75 99"; color: #4effff}
	.frameitembg a[title="Terasi - Der Fluss"]:after { content: "Terasi \A 66 111"; }
	.frameitembg a[title="Lodradon - Der organische Turm"]:after { content: "Lodra \A 114 76"; }
	.frameitembg a[title="Terasi - Der rauschende Fluss"]:after { content: "Terasi \A 73 126"; }