/* Inventarveränderungen (CID)

v1.0 

KNOW ISSUES
Chrome Browser: listitemrow does not properly fit;
;
*/

	p.listitemrow 							{ position: relative; padding: 2px 4px 3px 4px; font-size: 1px; color: transparent; border: 1px solid #BABABA; }
	p.listitemrow:hover 						{ padding: 2px 65px 3px 4px; }
	p.listitemrow + p 						{ margin-top: 3px }
	p.listitemrow a[href*="action=activate"] 			{ display: block; height: 0px; margin: -2px 0px 0px 300px; }
	p.listitemrow:hover a[href*="action=activate"]:before 		{ content: url(../images/act.png); position: absolute; top: 2px; right: 47px; opacity: 0.80; }
	p.listitemrow:hover a[href*="action=activate"]:hover:before 	{ opacity: 1.00; }
	p.listitemrow b 						{ font-size: 11px; color: #000000; }
	.itemamount 							{ font-size: 11px; margin-right: 1px; }
	.itemmagic 							{ font-size: 11px; margin-left: 1px; }
	.itemequipped b 						{ color: #D20000 !important; }
	p.listitemrow .iteminventorypics 				{ max-height: 14px; opacity: 0.80; }
	p.listitemrow .iteminventorypics:hover 				{ opacity: 1.00; }
	p.listitemrow img[src$="icon_transfer.gif"] 			{ display: none; }
	p.listitemrow img[src$="icon_drop.gif"] 			{ display: none; }
	p.listitemrow img[src$="icon_view.gif"] 			{ display: none; }
	p.listitemrow:hover a[href*="action=watch"]:before 		{ content: url(../images/icon_view.gif); position: absolute; top: 2px; right: 28px; opacity: 0.80; }
	p.listitemrow:hover a[href*="action=watch"]:hover:before 	{ opacity: 1.00; }

	p.listitemrow:hover a[href*="action=manydrop"]:before 		{ content: url(../images/icon_drop.gif); position: absolute; top: 2px; right: 16px; opacity: 0.80; }
	p.listitemrow:hover a[href*="action=manydrop"]:hover:before 	{ opacity: 1.00; }

	p.listitemrow:hover a[href*="action=transfer"]:before 		{ content: url(../images/icon_transfer.gif); position: absolute; top: 2px; right: 2px; opacity: 0.80; }
	p.listitemrow:hover a[href*="action=transfer"]:hover:before 	{ opacity: 1.00; }

/*	p.listitemrow:hover img[src$="icon_transfer.gif"] 		{ display: inline-block; position: absolute; top: 3px; right: 2px; }
	p.listitemrow:hover img[src$="icon_drop.gif"] 			{ display: inline-block; position: absolute; top: 4px; right: 16px; }
	p.listitemrow:hover img[src$="icon_view.gif"] 			{ display: inline-block; position: absolute; top: 4px; right: 28px; }*/
	p.listitemrow span.medium 					{ font-size: 1px; color: transparent; }
	p.listitemrow span.medium a 					{ font-size: 1px; color: #FF0000; display: block; height: 0px; margin: -2px 0px 0px 300px; }
	#filterrow 							{ padding: 2px; }
	#filterrow a 							{ font-size: 10px; }
  	#filterrow > a:nth-child(n+4) 					{ padding-left: 5px; }
	#filterrow > b:nth-child(n+4) 					{ padding-left: 5px; }
	#filterrow b 							{ font-size: 10px; }
	#filterrow:before 						{ color: #5E5E5E; }
