#listrow_stauts span .healthok { font-size: 0px;}
#listrow_stauts span .healthmed { font-size: 0px;}
#listrow_stauts span .healthcritical { font-size: 0px;}
#listrow_status span[title^='Beutezauber']:before {content: "BZ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='schnelle Bewegung']:before {content: "SB |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='langsame Bewegung']:before {content: "LB |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Verteidigung -']:before {content: "V- |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Verteidigung +']:before {content: "V+ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Verräter']:before {content: "VR |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Stärke +']:before {content: "S+ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Stärke -']:before {content: "S- |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Kampfunfähig']:before {content: "KU |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Schutz']:before {content: "SZ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Vergiftung']:before {content: "VG |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Lebenspunkte +']:before {content: "LP+ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Lebenspunkte -']:before {content: "LP- |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Innere Heilkraft']:before {content: "IH |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='kinetische Heilung']:before {content: "KH |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Feueröl']:before {content: "ÖL |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Heilkraft']:before {content: "HK |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Tarnung']:before {content: "TZ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Rückangriff']:before {content: "RA"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Trank der Mutation']:before {content: "TdM |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Korlad-Nuss Trank']:before {content: "Nut |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Geisteflug']:before {content: "GF |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Fliegen']:before {content: "Fly |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Undaron reiten']:before {content: "UR |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Undaron reiten'] a {font-size: 10px !important; padding-left: 1px;}
#listrow_status span[title^='Blitzschild']:before {content: "BS |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Phasenüberladung']:before {content: "PÜ"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Phasensicht']:before {content: "PS"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Trank der Phasenrisse']:before {content: "TdPr |"; font-weight: bold; font-size: 10px;  }
#listrow_status span[title^='versiegender Phasensaft']:before {content: "VPS |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='versiegender Phasennektar']:before {content: "VPN |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Trank der Schneeausgrabung']:before {content: "TdSa |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Trank der verlorenen Dinge']:before {content: "TdvD |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Trank der Schneeausgrabung']:before {content: "TdSa |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Sandwelle']:before {content: "SW |"; font-weight: bold; font-size: 10px; color: #fdc596; }
#listrow_status span[title^='Trank der Welterkundung']:before {content: "TdWe |"; font-weight: bold; font-size: 10px; color: #ecd2bd; }
#listrow_status span[title^='Clan-Krieg']:before {content: "CK"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='grüner Daumen']:before {content: "gD |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Auserwählt']:before {content: "AW |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Seelentrank']:before {content: "ST |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Verpestung']:before {content: "VP |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Schattenbeschwörung']:before {content: "SBe |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Nordpolarisierung ']:before {content: "NP |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Ostpolarisierung ']:before {content: "OP |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Südpolarisierung ']:before {content: "SP |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Westpolarisierung ']:before {content: "WP |"; font-weight: bold; font-size: 10px;}

#listrow_status span[title^='weiße Schokolade']:before {content: "☘ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Birnenbrand']:before {content: "⛐ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Nebelschwaden']:before {content: "☁ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Pflanzensicht']:before {content: "⚘ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Seelensicht']:before {content: "⛯ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Rennen']:before {content: "☈ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Gewebemeister']:before {content: "⚚ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='einzigartige NPC Sicht']:before {content: "⚯ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='rote Würfel']:before {content: "⚄ |"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Archäologe']:before {content: "🖌 |"; font-weight: bold; font-size: 10px;}

#listrow_status span[title^='Goldduft']:before {content: "GD"; font-weight: bold; font-size: 10px;}
#listrow_status span[title^='Trank der Waldpflanzensicht']:before {content: "PS"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Überladen']:before {content: "ÜL"; font-weight: bold; font-size: 10px; }

/* Phasenzeug */
#listrow_status span[title*='Phasen'] {color: lightblue; background: #000624; }

/* Ringe */
#listrow_status span[title*='Ring'] {background: black; color: #f9d653e8; }
#listrow_status span[title^='Ring des Jägers']:before {content: "\26AC  JÄ |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Auftragskünstler']:before {content: "\26AC  AK |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Leichenfledderei']:before {content: "\26AC  LF |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Ring des Blutdursts']:before {content: "\26AC  BD |"; font-weight: bold; font-size: 10px; }

/* Pastillen */
#listrow_status span[title^='Pastille der Ansteckung']:before {content: "Anst |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille der Schärfung']:before {content: "Schä |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille der Herbeirufung']:before {content: "Herb |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille der Heilung']:before {content: "Heil |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille der Seelensicht']:before {content: "Seel |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille der Clanenergie']:before {content: "Clan |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille des Fliegens']:before {content: "Fly |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille der Phasenenergie']:before {content: "PE |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille der Schreckensblumen']:before {content: "Blum |"; font-weight: bold; font-size: 10px; }
#listrow_status span[title^='Pastille'] {color: #f73ff4; background: #190024}


/* Zeiten hinter dem jeweiligen Status anzeigen */
/* Hintergrund */
#listrow_status .healthok, #listrow_status .healthmed, #listrow_status .healthcritical {
    padding: 2px 5px 2px 2px;
    background: #DCDCDC;
    border-radius: 7px;
    font-size: 0px;
    display: inline-block;
    margin-top: 2px;
    border: 1px solid #0000000f;}


/* Blink Animation */
@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera */

/* Zeiten */
#listrow_status span span[title*='(Noch 8 Tage ']:after {  content:' 8d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 7 Tage ']:after {  content:' 7d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 6 Tage ']:after {  content:' 6d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 5 Tage ']:after {  content:' 5d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 4 Tage ']:after {  content:' 4d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 3 Tage ']:after {  content:' 3d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 2 Tage ']:after {  content:' 2d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 1 Tag ']:after {  content:' 1d'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 1 Stunde ']:after {  content:' 1h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 2 Stunden ']:after {  content:' 2h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 3 Stunden ']:after {  content:' 3h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 4 Stunden ']:after {  content:' 4h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 5 Stunden ']:after {  content:' 5h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 6 Stunden ']:after {  content:' 6h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 7 Stunden ']:after {  content:' 7h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 8 Stunden ']:after {  content:' 8h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 9 Stunden ']:after {  content:' 9h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 10 Stunden ']:after {  content:' 10h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 11 Stunden ']:after {  content:' 11h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 12 Stunden ']:after {  content:' 12h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 13 Stunden ']:after {  content:' 13h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 14 Stunden ']:after {  content:' 14h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 15 Stunden ']:after {  content:' 15h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 16 Stunden ']:after {  content:' 16h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 17 Stunden ']:after {  content:' 17h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 18 Stunden ']:after {  content:' 18h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 19 Stunden ']:after {  content:' 19h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 20 Stunden ']:after {  content:' 20h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 21 Stunden ']:after {  content:' 21h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 22 Stunden ']:after {  content:' 22h'; font-size: 10px !important;}
#listrow_status span span[title*='(Noch 23 Stunden ']:after {  content:' 23h'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 61 Minuten)']:after {  content:' 61m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 60 Minuten)']:after {  content:' 60m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 59 Minuten)']:after {  content:' 59m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 58 Minuten)']:after {  content:' 58m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 57 Minuten)']:after {  content:' 57m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 56 Minuten)']:after {  content:' 56m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 55 Minuten)']:after {  content:' 55m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 54 Minuten)']:after {  content:' 54m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 53 Minuten)']:after {  content:' 53m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 52 Minuten)']:after {  content:' 52m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 51 Minuten)']:after {  content:' 51m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 50 Minuten)']:after {  content:' 50m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 49 Minuten)']:after {  content:' 49m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 48 Minuten)']:after {  content:' 48m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 47 Minuten)']:after {  content:' 47m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 46 Minuten)']:after {  content:' 46m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 45 Minuten)']:after {  content:' 45m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 44 Minuten)']:after {  content:' 44m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 43 Minuten)']:after {  content:' 43m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 42 Minuten)']:after {  content:' 42m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 41 Minuten)']:after {  content:' 41m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 40 Minuten)']:after {  content:' 40m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 39 Minuten)']:after {  content:' 39m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 38 Minuten)']:after {  content:' 38m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 37 Minuten)']:after {  content:' 37m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 36 Minuten)']:after {  content:' 36m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 35 Minuten)']:after {  content:' 35m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 34 Minuten)']:after {  content:' 34m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 33 Minuten)']:after {  content:' 33m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 32 Minuten)']:after {  content:' 32m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 31 Minuten)']:after {  content:' 31m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 30 Minuten)']:after {  content:' 30m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 29 Minuten)']:after {  content:' 29m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 28 Minuten)']:after {  content:' 28m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 27 Minuten)']:after {  content:' 27m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 26 Minuten)']:after {  content:' 26m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 25 Minuten)']:after {  content:' 25m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 24 Minuten)']:after {  content:' 24m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 23 Minuten)']:after {  content:' 23m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 22 Minuten)']:after {  content:' 22m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 21 Minuten)']:after {  content:' 21m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 20 Minuten)']:after {  content:' 20m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 19 Minuten)']:after {  content:' 19m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 18 Minuten)']:after {  content:' 18m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 17 Minuten)']:after {  content:' 17m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 16 Minuten)']:after {  content:' 16m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 15 Minuten)']:after {  content:' 15m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 14 Minuten)']:after {  content:' 14m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 13 Minuten)']:after {  content:' 13m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 12 Minuten)']:after {  content:' 12m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 11 Minuten)']:after {  content:' 11m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 10 Minuten)']:after {  content:' 10m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 9 Minuten)']:after {  content:' 9m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 8 Minuten)']:after {  content:' 8m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 7 Minuten)']:after {  content:' 7m'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 6 Minuten)']:after {  content:' 6m'; font-size: 10px !important;}
#listrow_status span span[title*='(8 Tage ']:after {  content:' 8d'; font-size: 10px !important;}
#listrow_status span span[title*='(7 Tage ']:after {  content:' 7d'; font-size: 10px !important;}
#listrow_status span span[title*='(6 Tage ']:after {  content:' 6d'; font-size: 10px !important;}
#listrow_status span span[title*='(5 Tage ']:after {  content:' 5d'; font-size: 10px !important;}
#listrow_status span span[title*='(4 Tage ']:after {  content:' 4d'; font-size: 10px !important;}
#listrow_status span span[title*='(3 Tage ']:after {  content:' 3d'; font-size: 10px !important;}
#listrow_status span span[title*='(2 Tage ']:after {  content:' 2d'; font-size: 10px !important;}
#listrow_status span span[title*='(1 Tag ']:after {  content:' 1d'; font-size: 10px !important;}
#listrow_status span span[title*='(1 Stunde ']:after {  content:' 1h'; font-size: 10px !important;}
#listrow_status span span[title*='(2 Stunden ']:after {  content:' 2h'; font-size: 10px !important;}
#listrow_status span span[title*='(3 Stunden ']:after {  content:' 3h'; font-size: 10px !important;}
#listrow_status span span[title*='(4 Stunden ']:after {  content:' 4h'; font-size: 10px !important;}
#listrow_status span span[title*='(5 Stunden ']:after {  content:' 5h'; font-size: 10px !important;}
#listrow_status span span[title*='(6 Stunden ']:after {  content:' 6h'; font-size: 10px !important;}
#listrow_status span span[title*='(7 Stunden ']:after {  content:' 7h'; font-size: 10px !important;}
#listrow_status span span[title*='(8 Stunden ']:after {  content:' 8h'; font-size: 10px !important;}
#listrow_status span span[title*='(9 Stunden ']:after {  content:' 9h'; font-size: 10px !important;}
#listrow_status span span[title*='(10 Stunden ']:after {  content:' 10h'; font-size: 10px !important;}
#listrow_status span span[title*='(11 Stunden ']:after {  content:' 11h'; font-size: 10px !important;}
#listrow_status span span[title*='(12 Stunden ']:after {  content:' 12h'; font-size: 10px !important;}
#listrow_status span span[title*='(13 Stunden ']:after {  content:' 13h'; font-size: 10px !important;}
#listrow_status span span[title*='(14 Stunden ']:after {  content:' 14h'; font-size: 10px !important;}
#listrow_status span span[title*='(15 Stunden ']:after {  content:' 15h'; font-size: 10px !important;}
#listrow_status span span[title*='(16 Stunden ']:after {  content:' 16h'; font-size: 10px !important;}
#listrow_status span span[title*='(17 Stunden ']:after {  content:' 17h'; font-size: 10px !important;}
#listrow_status span span[title*='(18 Stunden ']:after {  content:' 18h'; font-size: 10px !important;}
#listrow_status span span[title*='(19 Stunden ']:after {  content:' 19h'; font-size: 10px !important;}
#listrow_status span span[title*='(20 Stunden ']:after {  content:' 20h'; font-size: 10px !important;}
#listrow_status span span[title*='(21 Stunden ']:after {  content:' 21h'; font-size: 10px !important;}
#listrow_status span span[title*='(22 Stunden ']:after {  content:' 22h'; font-size: 10px !important;}
#listrow_status span span[title*='(23 Stunden ']:after {  content:' 23h'; font-size: 10px !important;}
#listrow_status span span[title$='(61 Minuten)']:after {  content:' 61m'; font-size: 10px !important;}
#listrow_status span span[title$='(60 Minuten)']:after {  content:' 60m'; font-size: 10px !important;}
#listrow_status span span[title$='(59 Minuten)']:after {  content:' 59m'; font-size: 10px !important;}
#listrow_status span span[title$='(58 Minuten)']:after {  content:' 58m'; font-size: 10px !important;}
#listrow_status span span[title$='(57 Minuten)']:after {  content:' 57m'; font-size: 10px !important;}
#listrow_status span span[title$='(56 Minuten)']:after {  content:' 56m'; font-size: 10px !important;}
#listrow_status span span[title$='(55 Minuten)']:after {  content:' 55m'; font-size: 10px !important;}
#listrow_status span span[title$='(54 Minuten)']:after {  content:' 54m'; font-size: 10px !important;}
#listrow_status span span[title$='(53 Minuten)']:after {  content:' 53m'; font-size: 10px !important;}
#listrow_status span span[title$='(52 Minuten)']:after {  content:' 52m'; font-size: 10px !important;}
#listrow_status span span[title$='(51 Minuten)']:after {  content:' 51m'; font-size: 10px !important;}
#listrow_status span span[title$='(50 Minuten)']:after {  content:' 50m'; font-size: 10px !important;}
#listrow_status span span[title$='(49 Minuten)']:after {  content:' 49m'; font-size: 10px !important;}
#listrow_status span span[title$='(48 Minuten)']:after {  content:' 48m'; font-size: 10px !important;}
#listrow_status span span[title$='(47 Minuten)']:after {  content:' 47m'; font-size: 10px !important;}
#listrow_status span span[title$='(46 Minuten)']:after {  content:' 46m'; font-size: 10px !important;}
#listrow_status span span[title$='(45 Minuten)']:after {  content:' 45m'; font-size: 10px !important;}
#listrow_status span span[title$='(44 Minuten)']:after {  content:' 44m'; font-size: 10px !important;}
#listrow_status span span[title$='(43 Minuten)']:after {  content:' 43m'; font-size: 10px !important;}
#listrow_status span span[title$='(42 Minuten)']:after {  content:' 42m'; font-size: 10px !important;}
#listrow_status span span[title$='(41 Minuten)']:after {  content:' 41m'; font-size: 10px !important;}
#listrow_status span span[title$='(40 Minuten)']:after {  content:' 40m'; font-size: 10px !important;}
#listrow_status span span[title$='(39 Minuten)']:after {  content:' 39m'; font-size: 10px !important;}
#listrow_status span span[title$='(38 Minuten)']:after {  content:' 38m'; font-size: 10px !important;}
#listrow_status span span[title$='(37 Minuten)']:after {  content:' 37m'; font-size: 10px !important;}
#listrow_status span span[title$='(36 Minuten)']:after {  content:' 36m'; font-size: 10px !important;}
#listrow_status span span[title$='(35 Minuten)']:after {  content:' 35m'; font-size: 10px !important;}
#listrow_status span span[title$='(34 Minuten)']:after {  content:' 34m'; font-size: 10px !important;}
#listrow_status span span[title$='(33 Minuten)']:after {  content:' 33m'; font-size: 10px !important;}
#listrow_status span span[title$='(32 Minuten)']:after {  content:' 32m'; font-size: 10px !important;}
#listrow_status span span[title$='(31 Minuten)']:after {  content:' 31m'; font-size: 10px !important;}
#listrow_status span span[title$='(30 Minuten)']:after {  content:' 30m'; font-size: 10px !important;}
#listrow_status span span[title$='(29 Minuten)']:after {  content:' 29m'; font-size: 10px !important;}
#listrow_status span span[title$='(28 Minuten)']:after {  content:' 28m'; font-size: 10px !important;}
#listrow_status span span[title$='(27 Minuten)']:after {  content:' 27m'; font-size: 10px !important;}
#listrow_status span span[title$='(26 Minuten)']:after {  content:' 26m'; font-size: 10px !important;}
#listrow_status span span[title$='(25 Minuten)']:after {  content:' 25m'; font-size: 10px !important;}
#listrow_status span span[title$='(24 Minuten)']:after {  content:' 24m'; font-size: 10px !important;}
#listrow_status span span[title$='(23 Minuten)']:after {  content:' 23m'; font-size: 10px !important;}
#listrow_status span span[title$='(22 Minuten)']:after {  content:' 22m'; font-size: 10px !important;}
#listrow_status span span[title$='(21 Minuten)']:after {  content:' 21m'; font-size: 10px !important;}
#listrow_status span span[title$='(20 Minuten)']:after {  content:' 20m'; font-size: 10px !important;}
#listrow_status span span[title$='(19 Minuten)']:after {  content:' 19m'; font-size: 10px !important;}
#listrow_status span span[title$='(18 Minuten)']:after {  content:' 18m'; font-size: 10px !important;}
#listrow_status span span[title$='(17 Minuten)']:after {  content:' 17m'; font-size: 10px !important;}
#listrow_status span span[title$='(16 Minuten)']:after {  content:' 16m'; font-size: 10px !important;}
#listrow_status span span[title$='(15 Minuten)']:after {  content:' 15m'; font-size: 10px !important;}
#listrow_status span span[title$='(14 Minuten)']:after {  content:' 14m'; font-size: 10px !important;}
#listrow_status span span[title$='(13 Minuten)']:after {  content:' 13m'; font-size: 10px !important;}
#listrow_status span span[title$='(12 Minuten)']:after {  content:' 12m'; font-size: 10px !important;}
#listrow_status span span[title$='(11 Minuten)']:after {  content:' 11m'; font-size: 10px !important;}
#listrow_status span span[title$='(10 Minuten)']:after {  content:' 10m'; font-size: 10px !important;}
#listrow_status span span[title$='(9 Minuten)']:after {  content:' 9m'; font-size: 10px !important;}
#listrow_status span span[title$='(8 Minuten)']:after {  content:' 8m'; font-size: 10px !important;}
#listrow_status span span[title$='(7 Minuten)']:after {  content:' 7m'; font-size: 10px !important;}
#listrow_status span span[title$='(6 Minuten)']:after {  content:' 6m'; font-size: 10px !important; }

/* Schritte */
#listrow_status span span[title$='(Noch 150 Schritte)']:after { content:' | 150'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 149 Schritte)']:after { content:' | 149'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 148 Schritte)']:after { content:' | 148'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 147 Schritte)']:after { content:' | 147'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 146 Schritte)']:after { content:' | 146'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 145 Schritte)']:after { content:' | 145'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 144 Schritte)']:after { content:' | 144'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 143 Schritte)']:after { content:' | 143'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 142 Schritte)']:after { content:' | 142'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 141 Schritte)']:after { content:' | 141'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 140 Schritte)']:after { content:' | 140'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 139 Schritte)']:after { content:' | 139'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 138 Schritte)']:after { content:' | 138'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 137 Schritte)']:after { content:' | 137'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 136 Schritte)']:after { content:' | 136'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 135 Schritte)']:after { content:' | 135'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 134 Schritte)']:after { content:' | 134'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 133 Schritte)']:after { content:' | 133'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 132 Schritte)']:after { content:' | 132'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 131 Schritte)']:after { content:' | 131'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 130 Schritte)']:after { content:' | 130'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 129 Schritte)']:after { content:' | 129'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 128 Schritte)']:after { content:' | 128'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 127 Schritte)']:after { content:' | 127'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 126 Schritte)']:after { content:' | 126'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 125 Schritte)']:after { content:' | 125'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 124 Schritte)']:after { content:' | 124'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 123 Schritte)']:after { content:' | 123'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 122 Schritte)']:after { content:' | 122'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 121 Schritte)']:after { content:' | 121'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 120 Schritte)']:after { content:' | 120'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 119 Schritte)']:after { content:' | 119'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 118 Schritte)']:after { content:' | 118'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 117 Schritte)']:after { content:' | 117'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 116 Schritte)']:after { content:' | 116'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 115 Schritte)']:after { content:' | 115'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 114 Schritte)']:after { content:' | 114'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 113 Schritte)']:after { content:' | 113'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 112 Schritte)']:after { content:' | 112'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 111 Schritte)']:after { content:' | 111'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 110 Schritte)']:after { content:' | 110'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 109 Schritte)']:after { content:' | 109'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 108 Schritte)']:after { content:' | 108'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 107 Schritte)']:after { content:' | 107'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 106 Schritte)']:after { content:' | 106'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 105 Schritte)']:after { content:' | 105'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 104 Schritte)']:after { content:' | 104'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 103 Schritte)']:after { content:' | 103'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 102 Schritte)']:after { content:' | 102'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 101 Schritte)']:after { content:' | 101'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 100 Schritte)']:after { content:' | 100'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 99 Schritte)']:after { content:' | 99'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 98 Schritte)']:after { content:' | 98'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 97 Schritte)']:after { content:' | 97'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 96 Schritte)']:after { content:' | 96'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 95 Schritte)']:after { content:' | 95'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 94 Schritte)']:after { content:' | 94'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 93 Schritte)']:after { content:' | 93'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 92 Schritte)']:after { content:' | 92'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 91 Schritte)']:after { content:' | 91'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 90 Schritte)']:after { content:' | 90'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 89 Schritte)']:after { content:' | 89'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 88 Schritte)']:after { content:' | 88'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 87 Schritte)']:after { content:' | 87'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 86 Schritte)']:after { content:' | 86'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 85 Schritte)']:after { content:' | 85'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 84 Schritte)']:after { content:' | 84'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 83 Schritte)']:after { content:' | 83'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 82 Schritte)']:after { content:' | 82'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 81 Schritte)']:after { content:' | 81'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 80 Schritte)']:after { content:' | 80'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 79 Schritte)']:after { content:' | 79'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 78 Schritte)']:after { content:' | 78'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 77 Schritte)']:after { content:' | 77'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 76 Schritte)']:after { content:' | 76'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 75 Schritte)']:after { content:' | 75'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 74 Schritte)']:after { content:' | 74'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 73 Schritte)']:after { content:' | 73'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 72 Schritte)']:after { content:' | 72'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 71 Schritte)']:after { content:' | 71'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 70 Schritte)']:after { content:' | 70'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 69 Schritte)']:after { content:' | 69'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 68 Schritte)']:after { content:' | 68'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 67 Schritte)']:after { content:' | 67'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 66 Schritte)']:after { content:' | 66'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 65 Schritte)']:after { content:' | 65'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 64 Schritte)']:after { content:' | 64'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 63 Schritte)']:after { content:' | 63'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 62 Schritte)']:after { content:' | 62'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 61 Schritte)']:after { content:' | 61'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 60 Schritte)']:after { content:' | 60'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 59 Schritte)']:after { content:' | 59'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 58 Schritte)']:after { content:' | 58'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 57 Schritte)']:after { content:' | 57'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 56 Schritte)']:after { content:' | 56'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 55 Schritte)']:after { content:' | 55'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 54 Schritte)']:after { content:' | 54'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 53 Schritte)']:after { content:' | 53'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 52 Schritte)']:after { content:' | 52'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 51 Schritte)']:after { content:' | 51'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 50 Schritte)']:after { content:' | 50'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 49 Schritte)']:after { content:' | 49'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 48 Schritte)']:after { content:' | 48'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 47 Schritte)']:after { content:' | 47'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 46 Schritte)']:after { content:' | 46'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 45 Schritte)']:after { content:' | 45'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 44 Schritte)']:after { content:' | 44'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 43 Schritte)']:after { content:' | 43'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 42 Schritte)']:after { content:' | 42'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 41 Schritte)']:after { content:' | 41'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 40 Schritte)']:after { content:' | 40'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 39 Schritte)']:after { content:' | 39'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 38 Schritte)']:after { content:' | 38'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 37 Schritte)']:after { content:' | 37'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 36 Schritte)']:after { content:' | 36'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 35 Schritte)']:after { content:' | 35'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 34 Schritte)']:after { content:' | 34'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 33 Schritte)']:after { content:' | 33'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 32 Schritte)']:after { content:' | 32'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 31 Schritte)']:after { content:' | 31'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 30 Schritte)']:after { content:' | 30'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 29 Schritte)']:after { content:' | 29'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 28 Schritte)']:after { content:' | 28'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 27 Schritte)']:after { content:' | 27'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 26 Schritte)']:after { content:' | 26'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 25 Schritte)']:after { content:' | 25'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 24 Schritte)']:after { content:' | 24'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 23 Schritte)']:after { content:' | 23'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 22 Schritte)']:after { content:' | 22'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 21 Schritte)']:after { content:' | 21'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 20 Schritte)']:after { content:' | 20'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 19 Schritte)']:after { content:' | 19'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 18 Schritte)']:after { content:' | 18'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 17 Schritte)']:after { content:' | 17'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 16 Schritte)']:after { content:' | 16'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 15 Schritte)']:after { content:' | 15'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 14 Schritte)']:after { content:' | 14'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 13 Schritte)']:after { content:' | 13'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 12 Schritte)']:after { content:' | 12'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 11 Schritte)']:after { content:' | 11'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 10 Schritte)']:after { content:' | 10'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 9 Schritte)']:after { content:' | 9'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 8 Schritte)']:after { content:' | 8'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 7 Schritte)']:after { content:' | 7'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 6 Schritte)']:after { content:' | 6'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 5 Schritte)']:after { content:' | 5'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 4 Schritte)']:after { content:' | 4'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 3 Schritte)']:after { content:' | 3'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 2 Schritte)']:after { content:' | 2'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch einen Schritt)']:after { content:' | 1'; font-size: 10px !important;}

/* Phasenenergie (versiegender Phasensaft/Nektar*/
#listrow_status span span[title$='(500 Phasenenergiepunkte)']:after { content:' | 500 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(490 Phasenenergiepunkte)']:after { content:' | 490 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(480 Phasenenergiepunkte)']:after { content:' | 480 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(470 Phasenenergiepunkte)']:after { content:' | 470 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(460 Phasenenergiepunkte)']:after { content:' | 460 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(450 Phasenenergiepunkte)']:after { content:' | 450 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(440 Phasenenergiepunkte)']:after { content:' | 440 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(430 Phasenenergiepunkte)']:after { content:' | 430 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(420 Phasenenergiepunkte)']:after { content:' | 420 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(410 Phasenenergiepunkte)']:after { content:' | 410 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(400 Phasenenergiepunkte)']:after { content:' | 400 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(390 Phasenenergiepunkte)']:after { content:' | 390 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(380 Phasenenergiepunkte)']:after { content:' | 380 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(370 Phasenenergiepunkte)']:after { content:' | 370 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(360 Phasenenergiepunkte)']:after { content:' | 360 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(350 Phasenenergiepunkte)']:after { content:' | 350 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(340 Phasenenergiepunkte)']:after { content:' | 340 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(330 Phasenenergiepunkte)']:after { content:' | 330 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(320 Phasenenergiepunkte)']:after { content:' | 320 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(310 Phasenenergiepunkte)']:after { content:' | 310 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(300 Phasenenergiepunkte)']:after { content:' | 300 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(290 Phasenenergiepunkte)']:after { content:' | 290 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(280 Phasenenergiepunkte)']:after { content:' | 280 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(270 Phasenenergiepunkte)']:after { content:' | 270 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(260 Phasenenergiepunkte)']:after { content:' | 260 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(250 Phasenenergiepunkte)']:after { content:' | 250 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(240 Phasenenergiepunkte)']:after { content:' | 240 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(230 Phasenenergiepunkte)']:after { content:' | 230 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(220 Phasenenergiepunkte)']:after { content:' | 220 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(210 Phasenenergiepunkte)']:after { content:' | 210 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(200 Phasenenergiepunkte)']:after { content:' | 200 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(190 Phasenenergiepunkte)']:after { content:' | 190 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(180 Phasenenergiepunkte)']:after { content:' | 180 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(170 Phasenenergiepunkte)']:after { content:' | 170 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(160 Phasenenergiepunkte)']:after { content:' | 160 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(150 Phasenenergiepunkte)']:after { content:' | 150 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(140 Phasenenergiepunkte)']:after { content:' | 140 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(130 Phasenenergiepunkte)']:after { content:' | 130 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(120 Phasenenergiepunkte)']:after { content:' | 120 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(110 Phasenenergiepunkte)']:after { content:' | 110 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(100 Phasenenergiepunkte)']:after { content:' | 100 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(90 Phasenenergiepunkte)']:after { content:' | 90 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(80 Phasenenergiepunkte)']:after { content:' | 80 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(70 Phasenenergiepunkte)']:after { content:' | 70 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(60 Phasenenergiepunkte)']:after { content:' | 60 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(50 Phasenenergiepunkte)']:after { content:' | 50 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(40 Phasenenergiepunkte)']:after { content:' | 40 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(30 Phasenenergiepunkte)']:after { content:' | 30 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(20 Phasenenergiepunkte)']:after { content:' | 20 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(10 Phasenenergiepunkte)']:after { content:' | 10 PE'; font-size: 10px !important;}
#listrow_status span span[title$='(0 Phasenenergiepunkte)']:after { content:' | 0 PE'; font-size: 10px !important;}

/* Blinken bei 5 minuten Restzeit */

#listrow_status span span[title$='(Noch 5 Minuten)']:after {content:' 5m \25f7';  font-size: 10px !important;    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}

#listrow_status span span[title$='(Noch 4 Minuten)']:after {content:' 4m \25f7'; font-size: 10px !important;    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}

#listrow_status span span[title$='(Noch 3 Minuten)']:after {content:' 3m \25f7';  font-size: 10px !important;    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}
#listrow_status span span[title$='(Noch 2 Minuten)']:after {content:' 2m \25f7';   font-size: 10px !important;   -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}
#listrow_status span span[title$='(Noch 1 Minute)']:after { content:' 1m \25f7'; font-size: 10px !important;     -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}

#listrow_status span span[title$='(Noch wenige Sekunden)']:after { font-size: 10px !important; font-weight: bold; content:' <1m';
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 0.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 0.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 0.5s infinite ease-in-out; /* IE */
    animation:blink normal 0.5s infinite ease-in-out; /* Opera */}

#listrow_status span span[title$='(5 Minuten)']:after {content:' 5m \25f7';  font-size: 10px !important;    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}
#listrow_status span span[title$='(4 Minuten)']:after {content:' 4m \25f7';  font-size: 10px !important;    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}
#listrow_status span span[title$='(3 Minuten)']:after {content:' 3m \25f7';   font-size: 10px !important;   -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}
#listrow_status span span[title$='(2 Minuten)']:after {content:' 2m \25f7';   font-size: 10px !important;   -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}
#listrow_status span span[title$='(1 Minute)']:after { content:' 1m \25f7';   font-size: 10px !important;   -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */}

#listrow_status span span[title$='(wenige Sekunden)']:after { font-size: 10px !important; font-weight: bold; content:' <1m';
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 0.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 0.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 0.5s infinite ease-in-out; /* IE */
    animation:blink normal 0.5s infinite ease-in-out; /* Opera */}

/* Pastillen */
#listrow_status span span[title$='(Noch ein NPC)']:after { font-weight: bold; content:' 1x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 2 NPCs)']:after { font-weight: bold; content:' 2x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 3 NPCs)']:after { font-weight: bold; content:' 3x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 4 NPCs)']:after { font-weight: bold; content:' 4x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 5 NPCs)']:after { font-weight: bold; content:' 5x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 6 NPCs)']:after { font-weight: bold; content:' 6x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 7 NPCs)']:after { font-weight: bold; content:' 7x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 8 NPCs)']:after { font-weight: bold; content:' 8x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 9 NPCs)']:after { font-weight: bold; content:' 9x'; font-size: 10px !important;}
#listrow_status span span[title$='(Noch 10 NPCs)']:after { font-weight: bold; content:' 10x'; font-size: 10px !important;}
